body {
    background-position: top;
}

.bg-image {
    background-image: url("../images/login.png");
}

.bg-image2 {
    background-image: url("../images/register.png");
}

.movie {
    background-image: url("../images/admin.png");
}

label {
    font-size: 18px;
}

.form-control {
    background-color: rgba(238, 234, 234, 0.31);
    border: transparent;
}
