body {
    margin-top: 30px;
    color: aliceblue;
    background-repeat:no-repeat;
    background-position: top;
}

.bg-image {
    background-image: url("../images/new_movie.png");
}

.bg-image2 {
    background-image: url("../images/edit_movie.png");
}

input {
    font-size: large;
    background-color: black;
    color: white;
    border: 1px solid black;
}